<h1>一覧</h1>

<% @movies.each do |movie| %>
    <%= link_to movie.title, movies_show_path(movie) %></br>
    <%= movie.id %></br>
    <%= movie.url %></br>
    <%= movie.image%></br>
    <%= image_tag("/image/#{movie.image.slice(/[0-9]+\/[0-9]+\/[0-9]+/).gsub("/", "")}.jpg")%></br>
    ------------------------------------------</br>
<% end %>

<%= will_paginate @movies %>
